{{ define "main" }}
{{ partial "hero" . }}
{{ with site.Data.projects.projects }}
  <div class="container text-center-m padding-top-4 padding-bottom-4">
    <h1>{{ .heading }}</h1>
    <p>{{ .copy }}</p>
  </div>
{{ end }}
<section class="container blog-container">
  {{ range .Paginator.Pages.ByDate.Reverse }}
  <article class="fade-up blog-summary">
    <a href="{{ .Permalink }}" class="blog-summary__link">
      <div class="flex flex-column flex-row-m">
        <div class="w-100 w-30-m">
          <div class="blog-summary__image-wrap">
            {{ $has_image := .Params.image }}
            {{ if $has_image }}
            <img src="{{ .Permalink }}{{ .Params.image }}" alt="" class="blog-summary__img img-responsive zoom-images">
            {{ end }}
          </div>
        </div>
        <div class="w-100 w-70-m">
          <div class="blog-summary__content">
            <h3 class="blog-summary__title g4">{{ .Title }}</h3>
            {{ partial "blog/entry-meta" . }}
            <p class="blog-summary__summary">
              {{ if .Params.summary }}{{ .Params.summary | safeHTML }}{{ else }}{{ .Summary  | safeHTML }}{{ end }}
            </p>
            <span class="blog-summary__read-more">
              Read More 
            </span>
          </div>
        </div>
      </div>
    </a>
  </article>
  {{ end }}
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ end }}