{{ define "content" }}
{{ partial "hero" . }}
<section class="fade-wrapper padding-top-10 padding-bottom-2" data-scroll-section>
  <div class="container">
    <h2 class="g1">Get expert insights on home modifications and workers’ compensation.</h2>
    <span class="underline-left"></span>
  </div>
</section>
<section class="container blog-container" data-scroll-section>
  {{ range .Paginator.Pages.ByDate.Reverse }}
  <article class="fade-up blog-summary">
    <a href="{{ .Permalink }}" class="blog-summary__link">
      <div class="flex flex-column flex-row-m">
        <div class="w-100 w-30-m">
          <div class="blog-summary__image-wrap">
            {{ $has_image := .Params.image }}
            {{ if $has_image }}
            <img src="{{ .Permalink }}{{ .Params.image }}" alt="" class="blog-summary__img img-responsive zoom-images">
            {{ end }}
          </div>
        </div>
        <div class="w-100 w-70-m">
          <div class="blog-summary__content">
            <h3 class="blog-summary__title g4">{{ .Title }}</h3>
            {{ partial "blog/entry-meta" . }}
            <p class="blog-summary__summary">
              {{ if .Params.summary }}{{ .Params.summary | safeHTML }}{{ else }}{{ .Summary  | safeHTML }}{{ end }}
            </p>
            <span class="blog-summary__read-more">
              Read More 
            </span>
          </div>
        </div>
      </div>
    </a>
  </article>
  {{ end }}
  {{ partial "blog/custom-pagination.html" . }}
</section>
{{ end }}