.site-header {
  background-color: $white;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 9;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
}
.primary-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  overflow: hidden;
  @include breakpoint(lg) {
    padding: 1rem 4rem;
  }
}
.brand-logo {
  img {
    width: 210px;
    @include breakpoint(sm) {
      width: 100%;
      max-width: 300px;
    }
  }
}
.nav-list {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  transform: translateX(120%);
  transition: 0.3s ease-in-out;
  background-color: $white;
  padding: 0;
  opacity: 0;
  @include breakpoint(md) {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
    position: relative;
    top: 0;
    left: 0;
    transform: translateX(0);
    opacity: 1;
  }
}
.nav-list-item {
  list-style-type: none;
  @include breakpoint(md) {
    display: inline-block;
  }
}
.nav-item {
  position: relative;
  text-decoration: none;
  color: $darkBlue;
  padding: 1.2rem 5rem;
  font-size: 1.8rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  letter-spacing: 0.015em;
  white-space: nowrap;
  @include breakpoint(md) {
    height: 120px;
    padding: 1.2rem 1.5rem;
  }
  &:before {
    background: $orangeGradient;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 0;
    transition: 0.3s ease-in;
    @include breakpoint(md) {
      height: 25px;
      width: 100%;
      top: -10px;
    }
  }
  &:hover,
  &:focus {
    &:before {
      @include breakpoint(md) {
        height: 25px;
        width: 100%;
        top: -10px;
        background: $orangeGradient;
        position: absolute;
        left: 0;
        right: 0;
        content: "";
        opacity: 1;
      }
    }
  }
}
.referral {
  background-image: $orangeGradient;
  color: $white;
  height: auto;
  font-size: 2rem;
  font-weight: 700;
  padding: 1.2rem 5rem;
  transition: 0.3s ease-in-out;
  @include breakpoint(md) {
    border-radius: 15px;
    padding: 1.5rem 3rem;
  }
  &:hover,
  &:focus {
    color: $white;
    background-image: $orangeGradientReverse;
    &:before {
      @include breakpoint(md) {
        opacity: 0;
      }
    }
  }
}
.current {
  position: relative;
  font-weight: 700;
  &:before {
    background: $orangeGradient;
    height: 100%;
    width: 5px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    content: "";
    opacity: 1;
    @include breakpoint(md) {
      height: 25px;
      width: 100%;
      top: -10px;
    }
  }
}
.nav-list-item:nth-child(7) {
  .current {
    &:before {
      opacity: 0;
      @include breakpoint(md) {
        opacity: 0;
      }
    }
  }
}
.nav-open {
  transform: translateX(0);
  opacity: 1;
  overflow: hidden;
  visibility: visible;
  .nav-list-item {
    animation: slideIn ease-in-out 0.5s forwards 0.5s;
    opacity: 0;
  }
  .nav-list-item:nth-child(1) {
    animation-delay: 0.1s;
  }
  .nav-list-item:nth-child(2) {
    animation-delay: 0.2s;
  }
  .nav-list-item:nth-child(3) {
    animation-delay: 0.3s;
  }
  .nav-list-item:nth-child(4) {
    animation-delay: 0.4s;
  }
  .nav-list-item:nth-child(5) {
    animation-delay: 0.5s;
  }
  .nav-list-item:nth-child(6) {
    animation-delay: 0.6s;
  }
  .nav-list-item:nth-child(7) {
    animation-delay: 0.7s;
  }
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateY(50px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
}
.menu-button-wrap {
  cursor: pointer;
  display: flex;
  align-items: center;
  @include breakpoint(md) {
    display: none;
  }
}
.mobile-menu-label {
  margin-top: -10px;
}
.mobile-menu-wrapper {
  transform: translateY(-100%);
  @include breakpoint(md) {
    display: none;
  }
}
