.contact {
  margin-top: $mobileHeader;
  @include breakpoint(lg) {
    margin-top: $desktopHeader;
  }
}
.contact-info {
  &__contact-list {
    padding: 0;
  }
  &__contact-link {
    display: flex;
    flex: 1;
    text-decoration: none;
    font-size: 2rem;
    line-height: 2.5rem;
    background: $white;
    margin: 2rem;
  }
  &__contact-list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 2rem;
    list-style-type: none;
  }
  &__icon {
    max-width: 50px;
    margin-bottom: 1rem;
  }
}
.contact-form {
  &__netlify-bot-field {
    opacity: 0;
    height: 0;
    width: 0;
    margin: 0;
  }
  .contact-form__form-group input,
  .contact-form__form-group textarea {
    background-color: #f6f6f6;
    border: none;
    width: 100%;
    padding: 1rem 2rem;
    margin-bottom: 2rem;
  }
  &__form-group input {
    height: 6rem;
  }
  &__form-group textarea {
    height: 20rem;
  }
  &__btn {
    border: none;
  }
}
.thank-you {
  .blog-content {
    margin-top: 6rem;
  }
}
