.gallery {
  &__row {
    .gallery__item:nth-child(odd) {
      img {
        padding: 5px 0;
        @include breakpoint(md) {
          padding: 5px 5px 5px 0;
        }
      }
    }
    .gallery__item:nth-child(even) {
      img {
        padding: 5px 0;
        @include breakpoint(md) {
          padding: 5px 0 5px 5px;
        }
      }
    }
  }
  &__row-hidden {
    display: none;
  }
}
