.service-intro {
  margin-top: -1px;
}
.service-list {
  .flex-container {
    display: flex;
    flex-direction: column;
    @include breakpoint(xl) {
      flex-direction: row;
    }
  }
  .flex-container-reverse {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    @include breakpoint(xl) {
      flex-direction: row;
    }
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 4rem 2rem;
    @include breakpoint(md) {
      padding: 4rem 8rem;
    }
    @include breakpoint(lg) {
      padding: 8rem;
    }
  }
  &__content-inner {
    max-width: 65rem;
    margin: 0 auto;
  }
  &__image {
    overflow: hidden;
  }
}
.icon-container {
  display: flex;
  justify-content: center;
  position: relative;
  z-index: 1;
  top: -73.5px;
  margin-bottom: -73.5px;
  @include breakpoint(md) {
    align-items: center;
    top: 0;
    right: -73.5px;
    margin-left: -147px;
    margin-bottom: 0;
  }
}
.icon-container-center {
  @include breakpoint(lg) {
    align-items: center;
    top: 0;
    right: 0;
    left: -73.5px;
    margin-left: 0;
    margin-right: -147px;
    margin-bottom: 0;
  }
}
