<div class="pre-footer"></div>
<footer id="footer" class="footer" role="contentinfo">
  <div class="footer__content container-wide flex flex-column flex-row-m">
    <div class="footer__contact footer__column w-100 w-25-m flex">
      <div>
        <span class="g6">Contact</span>
        <p>{{ .Site.Params.address }}</p>
        <a href="tel:{{ .Site.Params.phone }}"><p>{{ .Site.Params.phone }}</p></a>
        <a href="mailto:{{ .Site.Params.email }}"><p>{{ .Site.Params.email }}</p></a>
      </div>
    </div>
    <div class="footer__hours footer__column w-100 w-25-m">
      <div class="footer__hours-inner">
        <span class="g6">Hours</span>
        <p>{{ .Site.Params.hoursMF }}<br>{{ .Site.Params.hoursSat }}<br>{{ .Site.Params.hoursSun }}</p>
      </div>
    </div>
    <div class="footer__sitemap footer__column w-100 w-25-m flex">
      <div>
        <span class="g6">Site Map</span>
        {{ with .Site.Menus.main }}
        <ul class="footer__nav-list">
          {{ range . }}
            <li class="footer__nav-list-item">
              <a class="footer__nav-item" href="{{ .URL | absLangURL}}" aria-label="{{ .Name }}"
                title="{{ .Name }}">{{ .Name }}</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}
      </div>
    </div>
    <div class="footer__connect footer__column w-100 w-25-m">
      <span class="g6">Connect</span>
      <div class="footer__social">
        {{ partial "svg-icons/facebook.svg" . }}
        {{ partial "svg-icons/twitter.svg" . }}
        {{ partial "svg-icons/flickr.svg" . }}
        {{ partial "svg-icons/youtube.svg" . }}
      </div>
    </div>
  </div>
</footer>
{{ partial "scripts" . }}