{{ "<!-- Header -->" | safeHTML }}
<a class="screen-reader-skip-to-content" href="#main-content" tabindex="0">Skip to main content</a>
<a class="screen-reader-skip-to-content" href="#footer" tabindex="0">Skip to footer content</a>
<header class="site-header" role="banner">
  <nav class="nav primary-nav" role="navigation" aria-label="primary navigation">
    <div class="logo-wrapper">
      <a class="brand-logo" href="{{ site.BaseURL }}">
        <img src="{{ site.Params.logo | absURL }}" alt="{{ site.Title }}" class="img-responsive dim" width="200" height="100">
      </a>
    </div>
    {{ with site.Menus.main }}
    <ul class="nav-list">
      {{ range . }}
      {{ if .HasChildren }}
      <li class="nav-list__item nav-list__has-dropdown">
        <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}" aria-haspopup="true" aria-expanded="false"
          title="{{ .Name }}">{{ .Name }}
          {{ partial "svg-icons/chevron-down.svg" . }}
        </a>
          <ul class="nav-list__dropdown">
            {{ range .Children }}
            <li class="nav-list__item">
              <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}"
          title="{{ .Name }}" tab-index="-1">{{ .Name }}</a>
            </li>
            {{ end }}
          </ul>
      </li>
      {{ else }}
      <li class="nav-list__item">
        <a class="nav-list__link" href="{{ .URL }}" aria-label="{{ .Name }}"
          title="{{ .Name }}">{{ .Name }}</a>
      </li>
      {{ end }}
    {{ end }}
    </ul>
    {{ end }}
    <button class="hamburger hamburger--slider" type="button" aria-label="open mobile menu" aria-expanded="false">
      <span class="hamburger-box">
        <span class="hamburger-inner"></span>
      </span>
    </button>
    <a class="call-now" href="tel:920-759-9315">
      <span class="call-now__text">
        <strong>Call Now</strong>
        <span class="call-now__number">{{ site.Params.phone }}</span>
      </span>
      {{ partial "svg-icons/phone-w-waves.svg" . }}
    </a>
  </nav>
</header>