{{ with site.Data.services.services }}
<div class="service-cards">
{{ range .service_item }}
    <div class="service-card text-center-m">
        <a href="{{ .slug }}">
            <div class="service-card__overlay">
                <h2 class="service-card__heading">{{ .name }}</h2>
                <p class="service-card__description">{{ .description }}</p>
            </div>
            <img src="/images/{{ .image }}" alt="" class="service-card__image" width="400" height="300">
        </a>
    </div>
{{ end }}
</div>
{{ end }}