<div class="post-hero bg-blue" data-scroll-section>
  <div class="hero__inner short-hero__inner w-100 w-70-l">
    <h1 class="hero__title short-hero__title text-white no-margin">
      {{ .Page.Title }}
    </h1>
  </div>
</div>
<div class="container padding-top-2">
  {{ partial "breadcrumbs" . }}
  <img src="/images/{{ .Params.image }}" alt="{{ .Title }}" width="1200" height="800">
  <ul class="post-meta">
    <li class="post-meta__item">
      <span class="post-meta__bold">Published</span>{{ .PublishDate.Format "Jan 02, 2006" }}
    </li>
    {{ if .Params.Categories }}
      <li class="post-meta__item">
        <span class="post-meta__bold">Category</span>{{ range $index, $elements:= .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="post-meta__link"> {{ if ne $index 0 }}, {{ end }}
          {{ . | title }}</a> {{ end}}
      </li>
    {{ end }}
  </ul>
</div>