.projects {
  background-image: url("/images/projects-background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  padding: 4rem 2rem;
  &__heading {
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.8);
  }
}
