* {
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: $primaryFont;
  overflow-x: hidden;
  background-image: url("/images/Amplify_HomePageLayout.jpg");
  background-size: cover;
  position: relative;
  top: 0;
  left: 0;
  z-index: 99999999999999;
  opacity: 0.5;
  height: 400vh;
}
.site-main {
  opacity: 1;
}
ul {
  margin: 0;
}
// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
::selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
::-ms-selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
