* {
  box-sizing: border-box;
}
body {
  background-color: $white;
  font-family: $primaryFont;
  overflow-x: hidden;
}
.site-main {
  opacity: 1;
}
ul {
  margin: 0;
}
// Style highlight to match our themes colors
::-moz-selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
::selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
::-ms-selection {
  background: rgba(197, 103, 39, 0.8);
  color: $white;
}
