/*--------------------------------------------------------------
3.0 Our page layouts
--------------------------------------------------------------*/
/* Width Scale */
.w-10 {
  width: 10%;
}
.w-20 {
  width: 20%;
}
.w-25 {
  width: 25%;
}
.w-30 {
  width: 30%;
}
.w-33 {
  width: 33%;
}
.w-34 {
  width: 34%;
}
.w-40 {
  width: 40%;
}
.w-50 {
  width: 50%;
}
.w-60 {
  width: 60%;
}
.w-70 {
  width: 70%;
}
.w-75 {
  width: 75%;
}
.w-80 {
  width: 80%;
}
.w-90 {
  width: 90%;
}
.w-95 {
  width: 95%;
}
.w-100 {
  width: 100%;
}
.w-third {
  width: calc(100% / 3);
}
.w-two-thirds {
  width: calc(100% / 1.5);
}
.w-auto {
  width: auto;
}

@include breakpoint(sm) {
  .w-10-s {
    width: 10%;
  }
  .w-20-s {
    width: 20%;
  }
  .w-25-s {
    width: 25%;
  }
  .w-30-s {
    width: 30%;
  }
  .w-33-s {
    width: 33%;
  }
  .w-34-s {
    width: 34%;
  }
  .w-40-s {
    width: 40%;
  }
  .w-50-s {
    width: 50%;
  }
  .w-60-s {
    width: 60%;
  }
  .w-70-s {
    width: 70%;
  }
  .w-75-s {
    width: 75%;
  }
  .w-80-s {
    width: 80%;
  }
  .w-90-s {
    width: 90%;
  }
  .w-95-s {
    width: 95%;
  }
  .w-100-s {
    width: 100%;
  }
  .w-third-s {
    width: calc(100% / 3);
  }
  .w-two-thirds-s {
    width: calc(100% / 1.5);
  }
  .w-auto-s {
    width: auto;
  }
}
@include breakpoint(md) {
  .w-10-m {
    width: 10%;
  }
  .w-20-m {
    width: 20%;
  }
  .w-25-m {
    width: 25%;
  }
  .w-30-m {
    width: 30%;
  }
  .w-33-m {
    width: 33%;
  }
  .w-34-m {
    width: 34%;
  }
  .w-40-m {
    width: 40%;
  }
  .w-50-m {
    width: 50%;
  }
  .w-60-m {
    width: 60%;
  }
  .w-70-m {
    width: 70%;
  }
  .w-75-m {
    width: 75%;
  }
  .w-80-m {
    width: 80%;
  }
  .w-90-m {
    width: 90%;
  }
  .w-95-m {
    width: 95%;
  }
  .w-100-m {
    width: 100%;
  }
  .w-third-m {
    width: calc(100% / 3);
  }
  .w-two-thirds-m {
    width: calc(100% / 1.5);
  }
  .w-auto-m {
    width: auto;
  }
}
@include breakpoint(lg) {
  .w-10-l {
    width: 10%;
  }
  .w-20-l {
    width: 20%;
  }
  .w-25-l {
    width: 25%;
  }
  .w-30-l {
    width: 30%;
  }
  .w-33-l {
    width: 33%;
  }
  .w-34-l {
    width: 34%;
  }
  .w-40-l {
    width: 40%;
  }
  .w-50-l {
    width: 50%;
  }
  .w-60-l {
    width: 60%;
  }
  .w-70-l {
    width: 70%;
  }
  .w-75-l {
    width: 75%;
  }
  .w-80-l {
    width: 80%;
  }
  .w-90-l {
    width: 90%;
  }
  .w-95-l {
    width: 95%;
  }
  .w-100-l {
    width: 100%;
  }
  .w-third-l {
    width: calc(100% / 3);
  }
  .w-two-thirds-l {
    width: calc(100% / 1.5);
  }
  .w-auto-l {
    width: auto;
  }
}
@include breakpoint(xl) {
  .w-10-xl {
    width: 10%;
  }
  .w-20-xl {
    width: 20%;
  }
  .w-25-xl {
    width: 25%;
  }
  .w-30-xl {
    width: 30%;
  }
  .w-33-xl {
    width: 33%;
  }
  .w-34-xl {
    width: 34%;
  }
  .w-40-xl {
    width: 40%;
  }
  .w-50-xl {
    width: 50%;
  }
  .w-60-xl {
    width: 60%;
  }
  .w-70-xl {
    width: 70%;
  }
  .w-75-xl {
    width: 75%;
  }
  .w-80-xl {
    width: 80%;
  }
  .w-90-xl {
    width: 90%;
  }
  .w-95-xl {
    width: 95%;
  }
  .w-100-xl {
    width: 100%;
  }
  .w-third-xl {
    width: calc(100% / 3);
  }
  .w-two-thirds-xl {
    width: calc(100% / 1.5);
  }
  .w-auto-xl {
    width: auto;
  }
}
.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
  margin: 0 10px;
}
.col-20 {
  width: 100%;
  @include breakpoint(lg) {
    width: 20%;
  }
}
.col-25 {
  width: 100%;
  @include breakpoint(lg) {
    width: 25%;
  }
}
.col-30 {
  width: 100%;
  @include breakpoint(lg) {
    width: 33.3333%;
  }
}
.col-40 {
  width: 100%;
  @include breakpoint(lg) {
    width: 40%;
  }
}
.col-50 {
  width: 100%;
  @include breakpoint(lg) {
    width: 50%;
  }
}
.col-60 {
  width: 100%;
  @include breakpoint(lg) {
    width: 60%;
  }
}
.col-70 {
  width: 100%;
  @include breakpoint(lg) {
    width: 70%;
  }
}
.col-80 {
  width: 100%;
  @include breakpoint(lg) {
    width: 80%;
  }
}
.full-width-block {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  padding: 100px 0;
}
.block-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 800px;
  margin: 0 auto;
  padding: 0;
  @include breakpoint(lg) {
    padding: 20px;
  }
}
/* Lane container width is limited to ~45 characters */
.lane-narrow {
  max-width: 30em;
  margin: 0 auto;
}
/* Lane container width is limited to ~66 characters */
.lane {
  max-width: 36em;
  margin: 0 auto;
}
/* Lane container width is limited to ~80 characters */
.lane-wide {
  max-width: 40em;
  margin: 0 auto;
}
.container {
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  width: auto;
  @include breakpoint(md) {
    width: 1000px;
  }
}
.container-wide {
  width: auto;
  margin-right: auto;
  margin-left: auto;
  padding: 0 2rem;
  @include breakpoint(md) {
    width: 80%;
  }
}
.container-wide-right {
  width: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  @include breakpoint(md) {
    width: 90%;
  }
}
.text-wrap {
  padding: 0 10px;
  @include breakpoint(md) {
    padding: 0 20px;
  }
}
.text-block {
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  @include breakpoint(md) {
    max-width: 700px;
  }
}
.center {
  margin: 0 auto;
}
.center-text-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.page-content {
  position: relative;
  z-index: 2;
  margin-top: 50px;
}
.padded-section {
  padding: 0 0 50px 0;
}
.padding-1 {
  padding: 1rem;
}
.padding-2 {
  padding: 2rem;
}
.padding-top-2 {
  padding-top: 2rem;
}
.padding-top-4 {
  padding-top: 4rem;
}
.padding-top-6 {
  padding-top: 6rem;
}
.padding-top-8 {
  padding-top: 8rem;
}
.padding-top-10 {
  padding-top: 10rem;
}
.padding-bottom-2 {
  padding-bottom: 2rem;
}
.padding-bottom-4 {
  padding-bottom: 4rem;
}
.padding-bottom-6 {
  padding-bottom: 6rem;
}
.padding-bottom-8 {
  padding-bottom: 8rem;
}
.padding-bottom-10 {
  padding-bottom: 10rem;
}
.margin-top-1 {
  margin-top: 1rem;
}
.margin-top-2 {
  margin-top: 2rem;
}
.margin-bottom-1 {
  margin-bottom: 1rem;
}
.margin-bottom-2 {
  margin-bottom: 2rem;
}
.margin-bottom-4 {
  margin-bottom: 4rem;
}
@include breakpoint(sm) {
  .padding-10-s {
    padding: 10px;
  }
  .padding-20-s {
    padding: 20px;
  }
  .padding-top-10-s {
    padding-top: 10px;
  }
  .padding-top-25-s {
    padding-top: 25px;
  }
  .padding-top-50-s {
    padding-top: 50px;
  }
  .padding-bottom-10-s {
    padding-bottom: 10px;
  }
  .padding-bottom-25-s {
    padding-bottom: 25px;
  }
  .padding-bottom-50-s {
    padding-bottom: 50px;
  }
}
@include breakpoint(md) {
  .padding-10-m {
    padding: 10px;
  }
  .padding-20-m {
    padding: 20px;
  }
  .padding-top-10-m {
    padding-top: 10px;
  }
  .padding-top-25-m {
    padding-top: 25px;
  }
  .padding-top-50-m {
    padding-top: 50px;
  }
  .padding-bottom-10-m {
    padding-bottom: 10px;
  }
  .padding-bottom-25-m {
    padding-bottom: 25px;
  }
  .padding-bottom-50-m {
    padding-bottom: 50px;
  }
}
@include breakpoint(lg) {
  .padding-10-l {
    padding: 10px;
  }
  .padding-20-l {
    padding: 20px;
  }
  .padding-top-10-l {
    padding-top: 10px;
  }
  .padding-top-25-l {
    padding-top: 25px;
  }
  .padding-top-50-l {
    padding-top: 50px;
  }
  .padding-bottom-10-l {
    padding-bottom: 10px;
  }
  .padding-bottom-25-l {
    padding-bottom: 25px;
  }
  .padding-bottom-50-l {
    padding-bottom: 50px;
  }
}
.spacing > * + * {
  margin-top: 2rem;
}
.margin-top-10 {
  margin-top: 10px;
}
.margin-top-25 {
  margin-top: 25px;
}
.margin-top-50 {
  margin-top: 50px;
}
.margin-bottom-10 {
  margin-bottom: 10px;
}
.margin-bottom-25 {
  margin-bottom: 25px;
}
.margin-bottom-50 {
  margin-bottom: 50px;
}
.limit-width {
  max-width: 1050px;
  margin: 0 auto;
}
.fixed-top {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}
.fixed-bottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1030;
}
