// Colors
$primaryColor: #2b3b93;
$secondaryColor: #7881bc;
$lightBlue: #afd1ed;
$gray: #58595b;
$lightGray: #f6f6f6;
$black: #232323;
$tan: #c6bd9e;

// overlays
$whiteOverlay: rgba(255, 255, 255, 0.9);

$blueShadow: rgba(43, 59, 147, 0.2);

$lightOrange: #ef8f28;
$medOrange: #f09028;
$darkOrange: #c56727;
$darkBlue: #1c252e;
$medBlue: #415368;
$white: #ffffff;
// Gradients
$orangeGradient: linear-gradient(180deg, #f09028 0%, #c46627 100%);
$orangeGradientReverse: linear-gradient(180deg, #c46627 0%, #f09028 100%);
$blueGradient: linear-gradient(180deg, #38485a 0%, #1c252e 100%);
$blueGradientReverse: linear-gradient(180deg, #1c252e 0%, #38485a 100%);
// Fonts
$primaryFont: Helvetica, Arial, sans-serif;
$secondaryFont: Arial, sans-serif;

$mobileHeader: 100px;
$desktopHeader: 130px;
