// Colors
$primaryColor: #2b3b93;
$secondaryColor: #7881bc;
$lightBlue: #afd1ed;
$gray: #58595b;
$lightGray: #f6f6f6;
$black: #232323;
$tan: #c6bd9e;
$white: #ffffff;

// overlays
$whiteOverlay: rgba(255, 255, 255, 0.9);

$blueShadow: rgba(43, 59, 147, 0.2);

// Fonts
$primaryFont: Helvetica, Arial, sans-serif;
$secondaryFont: Arial, sans-serif;

$mobileHeader: 100px;
$desktopHeader: 130px;
