// Colors
$lightOrange: #ef8f28;
$medOrange: #f09028;
$darkOrange: #c56727;
$darkBlue: #1c252e;
$medBlue: #415368;
$white: #ffffff;
// Gradients
$orangeGradient: linear-gradient(180deg, #f09028 0%, #c46627 100%);
$orangeGradientReverse: linear-gradient(180deg, #c46627 0%, #f09028 100%);
$blueGradient: linear-gradient(180deg, #38485a 0%, #1c252e 100%);
$blueGradientReverse: linear-gradient(180deg, #1c252e 0%, #38485a 100%);
// Fonts
$primaryFont: "Roboto", sans-serif;
$secondaryFont: "Frank Ruhl Libre", serif;

$mobileHeader: 70px;
$desktopHeader: 140px;
